:root {
  --current-radius: min(40vw, 80vh);
  --other-radius: min(20vw, 80vh);
}

#gain-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

#gain-box * {
  vertical-align: middle;
}

#login-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#time-box {
  display: none;
}

body.name-valid.subsequence-valid #time-box {
  display: initial;
}

#start {
  display: none;
  height: 30%;
  width: 30%;
}

body.name-valid.subsequence-valid.time-valid #start {
  display: initial;
}

#time-until-start {
  font-size: 8vw;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: inline-block;
  width: 100%;
  text-align: center;
}

#cancel {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

#stop {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
}

#flexbox {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
}

#current-color, #next-color, #then-color {
  position: relative;
  border-radius: 50%;
  border: 1px solid black;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#current-color {
  width: var(--current-radius);
  height: var(--current-radius);
}

#next-color, #then-color {
  width: var(--other-radius);
  height: var(--other-radius);
}

body[data-frame=last] #next-color {
  visibility: hidden;
}

body:not([data-frame=normal]) #then-color {
  visibility: hidden;
}

#login-box, #scheduled-box, #running-box {
  display: none;
}

body[data-state=login] #login-box {
  display: initial;
}

body[data-state=scheduled] #scheduled-box {
  display: initial;
}

body[data-state=running] #running-box {
  display: initial;
}