:root {
  --current-radius: 40vw;
  --other-radius: 20vw;
}

#login-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#start {
  display: none;
}

body.name-valid.subsequence-valid #start {
  display: initial;
}

#stop {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#flexbox {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
}

#current-color, #next-color, #then-color {
  display: none;
  position: relative;
  border-radius: 50%;
  border: 1px solid black;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#current-color {
  width: var(--current-radius);
  height: var(--current-radius);
}

#next-color, #then-color {
  width: var(--other-radius);
  height: var(--other-radius);
}

body[data-frame=last] #next-color {
  display: none !important;
}

body:not([data-frame=normal]) #then-color {
  display: none !important;
}

body.started #login-box {
  display: none;
}

body.started #current-color, body.started #next-color, body.started #then-color, body.started #stop {
  display: initial;
}